@import url(style.css);


/*estilos de mi portada*/
.portada {

    gap: 50px;
    padding: 35px;
}

.imagen img {
    width: 100%;
    height: auto;
    justify-content: center;
}

.textos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    & p {
        color: var(--colornegro);
    }
}


/*noticias*/

.noticias {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.noticias-lista {
    gap: 25px;
}

.noticias-content {
    display: flex;
    justify-content: space-between;
}




.noticias-1 {
    text-align: center;
    padding: 25px;
}

.noticias-1 img {
    width: 200px;
}

.noticias-1 h3 {
    font-size: 25px;
    color: black;
    text-align: center;
    gap: 10px;
}

/*banner*/

/*ads-skin*/

#ads-skin {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 150px 100px;
}

.ads-skin {
    display: flex;
    justify-content: space-between;
}

.bt-cerrar-ads-1,
.bt-cerrar-ads-2 {
    position: absolute;


    & img {
        display: flex;
        width: 20px;
        height: auto;
        background-color: #888;
        border-radius: 100px;
        right: 0;
        padding: 0px;
    }
}

.ads3 {
    padding: 0;
    background-color: var(--colorgristexto1);

    & img {
        width: 100%;
        height: auto;
        align-items: center;

    }
}

.ads4 {
    padding: 0;
    background-color: var(--colorgristexto1);

    & img {
        width: 100%;
        height: auto;
        align-items: center;
    }
}