@import url(style.css);

/*estilos de mi portada*/
.portada {

    gap: 50px;
    padding: 35px;
}

.imagen img {
    width: 100%;
    height: auto;
    justify-content: center;
}

.textos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    & p {
        color: var(--colornegro);
    }
}

/*noticias*/

.noticias {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.noticias-lista {
    gap: 25px;
}

.noticias-content {
    display: flex;
    justify-content: space-between;
}




.noticias-1 {
    text-align: center;
    padding: 25px;
}

.noticias-1 img {
    width: 200px;
}

.noticias-1 h3 {
    font-size: 25px;
    color: black;
    text-align: center;
    gap: 10px;
}