@import url(style.css);


/*estilos de mi portada*/
.portada {

    gap: 50px;
    padding: 35px;
}

.imagen img {
    width: 100%;
    height: auto;
    justify-content: center;
}

.textos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    & p {
        color: var(--colornegro);
    }
}


/*noticias*/

.noticias {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.noticias-lista {
    gap: 25px;
}

.noticias-content {
    display: flex;
    justify-content: space-between;
}




.noticias-1 {
    text-align: center;
    padding: 25px;
}

.noticias-1 img {
    width: 200px;
}

.noticias-1 h3 {
    font-size: 25px;
    color: black;
    text-align: center;
    gap: 10px;
}

/*banner*/

/*ads-skin*/

/*ads*/

.ads-skin-1,
.ads-skin-2 {
    position: fixed;
    width: 160px;
    top: 150px;
}

.ads-skin-1.hiden {
    display: none;
}


.ads-skin-2.hiden {
    display: none;
}

.ads-skin-1 {
    left: 60px;
}

.ads-skin-2 {
    right: 60px;
}

.bt-cerrar-ads-1,
.bt-cerrar-ads-2 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;

    & img {
        width: 20px;
        height: auto;
        background-color: orange;
        border-radius: 100px;
        transition: transform 0.5s ease;
    }

    & img:hover {
        background-color: orangered;
        transform: scale(1.2);
    }

}