@import url(style.css);

/* Carrito */

.submenu {
    position: relative;
}

img#img-carrito {
    height: 45px;
    width: auto;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(1px);
    top: 100%;
    z-index: 1;
    background-color: rgb(212, 212, 212);
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th,
td {
    color: white;
    font-family: "Lexand Deca", sans-serif;
    font-size: 13px;
}

.borrar {
    background-color: #377b00;
    border-radius: 50%;
    padding: 5px 10px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

#vaciar-carrito.btn-3:hover {
    color: white;
}


/* Productos */

.products.container {
    max-width: 1200px;
    margin: 0 auto;
}

.products {
    padding: 0 0 40px 0;
    text-align: center;
}

.products.container h2 {
    margin-top: 50px;
    font-size: 40px;
    color: black;
}

.box-container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.box {
    padding: 20px;
    border-radius: 0;
    border: black;
    background-color: #dfdfdf;
    display: none;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
    display: inline-block;
}

.box img {
    height: 200px;
    width: auto;
}

.product-txt h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
    font-family: "Bebas Neue", sans-serif;
}

.product-txt p {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(80, 80, 80);
    font-weight: bold;
}

.product-txt .rojo {
    font-weight: bold;
    margin-bottom: 17px;
    color: rgb(80, 80, 80);
    font-weight: bold;
}

.product-txt .precio {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #808080;
}

.btn-3 {
    background-color: #00861f;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 20px;
    color: white;
    font-family: "Timmana", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 8px;
}

/*banner*/

.imagen-11 img {
    width: 95%;
    height: auto;
    align-items: center;



}