@import url(style.css);

/* Estilos para la cuadrícula */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Distribución equitativa de los elementos */
}

.product {
    flex: 0 1 calc(30% - 20px);
    /* 30% de ancho - 20px de espacio entre elementos */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    /* Tamaño fijo para el contenedor */
    width: 250px;
}

.product img {
    max-width: 100%;
    height: auto;
    /* Asegurar que la imagen no sobrepase el contenedor */
    max-height: 400px;
    /* Ajusta el tamaño máximo de la imagen según tus necesidades */
}

.product .offer {
    background-color: #FFA500;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.product .price {
    font-size: 18px;
}

.product .btn {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*banner*/

.imagen-11 img {
    width: 95%;
    height: auto;
    align-items: center;
}
