@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: "Poppins", sans-serif;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*estilo de toda la pagina*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}


p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.btn-1 {
    display: inline-block;
    padding: 11px 15px;
    background-color: orange;
    color: beige;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: orangered;
}

.btn-2 {
    display: inline-block;
    padding: 11px 15px;
    background-color: transparent;
    color: black;
    text-transform: uppercase;
}

.btn-2:hover {
    background-color: orange;
}

/*menu-navegacion*/

header {
    background-color: orange;
}

.header {
    height: 95px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}



.logo-1 {
    height: 100%;
    width: auto;


}

.menu {
    display: flex;
    align-items: center;

}

.nav {
    display: flex;
    gap: 50px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}



.abrir-menu,
.logo-2,
.cerrar-menu {
    display: none;
}



/*estilos de mi portada*/
.portada {

    gap: 50px;
    padding: 35px;
}

.imagen img {
    width: 100%;
    height: auto;
    justify-content: center;
}

.textos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    & p {
        color: var(--colornegro);
    }
}

/*mercado*/
.mercado {
    padding: 100px 0;
    background-color: white;
    position: relative;

}

.mercado-content {
    text-align: center;

}

.mercado-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: black;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;


}

.mercado-content p {
    font-size: 16px;
    color: black;
    padding: 0 25px;
    margin-bottom: 35px;
}

.mercado-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.mercado-1 {
    text-align: center;
    padding: 25px;
}

.mercado-1 img {
    width: 200px;
}

.mercado-1 h3 {
    font-size: 25px;
    line-height: 70px;
    color: black;
    text-transform: uppercase;
    padding: 0 25px;
    margin-bottom: 15px;
}

/*banner*/

.banner {
    gap: 50px;
    align-items: center;
}

.imagen-7 img {
    width: 100%;
    height: auto;
}

#banner {
    background-color: orange;
    background-size: cover;
    background-position: center;
}


/*catalogo*/
.catalogo {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.catalogo-content {
    text-align: center;
}

.catalogo-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: orange;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.catalogo-content p {
    font-size: 16px;
    color: black;
    margin-bottom: 50px;
    padding: 0 100px;
}


.catalogo-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.catalogo-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.catalogo-1 img {
    width: 90px;
    margin-bottom: 10px;
}


.grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/*banner*/

.banner2 {
    gap: 50px;
    align-items: center;
}

.imagen-8 img {
    width: 100%;
    height: auto;
}

#banner2 {
    background-color: orange;
    background-size: cover;
    background-position: center;
}

/*informacion*/

.informacion {
    display: flex;
}

.informacion-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: beige;
}

.informacion-2 {
    background-image: url(imagenes/lo\ mejor\ de\ nosostros.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.informacion-3 {
    background-image: url(imagenes/juntos\ con\ trasac.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}



.informacion-1 h2 {
    font-size: 55px;
    line-height: 70px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: grey;
    margin: 25px 0 45px 0;
}


/*banner*/

.banner3 {
    gap: 50px;
    align-items: center;
}

.imagen-9 img {
    width: 100%;
    height: auto;
    padding: 15px;
}

#banner3 {
    background-color: orange;
    background-size: cover;
    background-position: center;
}


/*noticias*/

.noticias {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.noticias-lista {
    gap: 25px;
}

.noticias-content {
    display: flex;
    justify-content: space-between;
}




.noticias-1 {
    text-align: center;
    padding: 25px;
}

.noticias-1 img {
    width: 200px;
}

.noticias-1 h3 {
    font-size: 25px;
    color: black;
    text-align: center;
    gap: 10px;
}


/*footer*/


footer {
    padding: 30px 0;
    background-color: rgb(252, 198, 98);


}

.footer-content {
    display: flex;
    justify-content: space-around;

}

.footer-1 {
    width: 35%;
    height: 52%;

}

.link {
    padding: 10px;
    flex-direction: column;
    display: flex;
    gap: 25px;
    text-align: center;
}

.link a {
    font-size: 18px;
    color: black;
    display: block;
    margin-bottom: 18px;
}


/*formulario 10*/
.newletters {
    text-align: center;
}

.newletters-caja {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;


}

.newletters-caja ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.newletters-caja ul input,
textarea {
    padding: 15px;
    border-radius: 0;
    border: none;
    background-color: white;
}


.Enviar {
    color: white;
    background-color: orange;
    border-color: orange;
    border-radius: 4px;



}

.Enviar:hover {

    background-color: orangered;
    border-color: orangered;
}

@media(max-width:767px) {

    .grid-1,
    .grid-2,
    .grid-3 {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 1.25rem;
    }


    p {
        font-size: 1rem;
    }

    a {
        text-decoration: none;
    }


    .btn-2 {
        display: inline-block;
        padding: 11px 15px;
        background-color: transparent;
        color: black;
        text-transform: uppercase;
    }

    .btn-2:hover {
        background-color: rgb(247, 200, 114);
    }

    .container {

        padding: 80px 25px;

    }

    /*menu-navegacion*/

    .abrir-menu,
    .cerrar-menu {
        display: flex;
        align-items: center;

        & img {
            width: 35px;
            height: auto;
            justify-content: flex-end;
        }
    }

    .logo-2 {
        display: block;
        width: auto;
        height: 100%;
    }

    .header {
        background-color: orange;
    }

    .header {
        padding: 20px 0;
    }

    .header2 {
        display: flex;
        justify-content: space-between;
        height: 95px;
        width: 100%;
        padding: 20px 0px;
    }

    .menu {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(43, 43, 43);
    }

    .menu.visible {
        visibility: visible;
    }

    .logo-1 {
        height: 100%;
        width: auto;
    }

    .nav {
        display: flex;
        gap: 50px;
        flex-direction: column;
        width: 100%;
        padding: 20px 25px;
        align-items: center;
    }

    .nav-list {

        flex-direction: column;
        gap: 50px;

    }

    .nav-list li a {
        font-size: 1rem;
    }

    /*portada*/
    .portada {
        gap: 25px;
    }

    .imagen img {
        width: 100%;
        height: auto;
    }

    .textos {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;

        & p {
            color: var(--colornegro);
        }
    }

    /*mercado*/
    .mercado {
        padding: 10px;
    }

    .mercado-content {
        text-align: center;

    }

    .mercado-content p {
        font-size: 12px;
        padding: 0;
    }

    .mercado-content h2 {
        font-size: 45px;
        padding: 10px;
        margin-bottom: 0;
    }

    .mercado-1 p {
        font-size: 12px;
        padding: 0px;

    }

    .mercado-group {
        flex-direction: column;
        margin-bottom: 0;
        padding: 0;
    }

    .mercado-1 {
        margin-bottom: 0;
    }



    .mercado-1 h3 {
        font-size: 15px;
        line-height: 70px;
        color: black;
        margin-bottom: 5px;
    }


    /*catalogo*/
    .catalogo {
        padding: 30px;
    }

    .catalogo-content h2 {
        font-size: 45px;
        padding: 0;
    }

    .catalogo-content p {
        padding: 0;
    }

    .catalogo-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .catalogo-1 {
        margin-bottom: 25px;
    }

    /*informacion*/
    .informacion {
        flex-direction: column;
    }

    .informacion-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .informacion-2 .informacion-3 {
        display: none;
    }

    .informacion-1 h3 {
        font-size: 55px;
        color: black;
        margin-bottom: 10px;
    }

    .informacion-1 h2 {
        font-size: 45px;
        line-height: 70px;
        color: black;
        margin-bottom: 0px;
    }

    p {
        font-size: 12px;
        color: grey;
        margin-bottom: 30px;

    }


    /*noticia*/

    .noticia {
        padding: 30px;
    }

    .noticia-content {
        flex-direction: column;
    }

    .noticias-1 {
        padding: 0;
    }


    .noticias-1 img {
        width: 250px;
        height: auto;
    }

    .noticia-1 h2 {
        font-size: 45px;
        line-height: 70px;
        color: black;
        margin-bottom: 0px;
    }

    .noticia-1 h3 {
        font-size: 55px;
        color: black;
        margin-bottom: 10px;
    }

    .noticias-1 h3 {
        font-size: 25px;
        color: black;
        text-align: center;
        gap: 5px;
    }

    /*footer*/

    .footer {
        padding: 30px;
    }

    .footer-1 {
        display: none;
    }

    .footer-content {
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }

    .newletters {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        padding: 10px;
    }


    /*banner*/

    .banner {
        background-size: cover;
        background-position: center;
        display: block;
    }

    .imagen-7 img {
        width: 100%;
        height: auto;
    }

    #banner {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .banner2 {
        gap: 50px;
        align-items: center;
    }

    .imagen-8 img {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    #banner2 {
        background-color: orange;
        background-size: cover;
        background-position: center;
    }

    .banner3 {
        gap: 50px;
        align-items: center;
    }

    .imagen-9 img {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    #banner3 {
        background-color: orange;
        background-size: cover;
        background-position: center;
    }
}